<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .anyClass {
            height: 400px;
            overflow-y: scroll;
            font-size: 2rem;
        }

        #content {
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <h1>고민말고 찾아먹자! 레시피 헬퍼</h1>

    <div class="row justify-content-center border border-secondary rounded bg-light" style="margin-left: 10rem; margin-right: 10rem;">
        <div id="first" class="col mr-5">
            <ul class="nav nav-pills nav-stacked anyClass">
                <component :is="dynamicComponent" />
            </ul>
        </div>
        <div id="second" class="col">
            <ul class="nav nav-pills nav-stacked anyClass">
                <component :is="dynamicComponent" />
            </ul>
        </div>
        <div id="third" class="col ml-5">
            <ul class="nav nav-pills nav-stacked anyClass">
                <component :is="dynamicComponent" />
            </ul>
        </div>
    </div>
    <div id="content" class="py-5 text-center">
        <div class="container border border-secondary rounded bg-light">
            <div class="text-dark mb-4">
                <h1 class="my-3">레시피 목록</h1>
            </div>
            <div v-for="recipe in recipes" class="card-deck mb-4">
                <div class="card border border-secondary rounded">
                    <img v-bind:src="recipe[0].thumbnail" alt="">
                    <div class="card-body">
                        <h1 class="card-title">{{recipe[0].name}}</h1>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">양</th>
                                <th scope="col">시간</th>
                                <th scope="col">난이도</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{recipe[0].servings}}</td>
                                <td>{{recipe[0].time}}</td>
                                <td>{{recipe[0].difficulty}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="card" v-if="recipe[1] != undefined">
                    <img v-bind:src="recipe[1].thumbnail" alt="">
                    <div class="card-body border border-secondary rounded">
                        <h1 class="card-title">{{recipe[1].name}}</h1>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">양</th>
                                <th scope="col">시간</th>
                                <th scope="col">난이도</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{recipe[0].servings}}</td>
                                <td>{{recipe[0].time}}</td>
                                <td>{{recipe[0].difficulty}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="card" v-if="recipe[1] == undefined">
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/axios.js"></script>
    <script>

        let firstCategoryArray = []
        let secondCategoryArray = []
        let thirdCategoryArray = []

        let first = new Vue({
            el: "#first",
            data: {
                firstCategory: ""
            },
            computed: {
                dynamicComponent: function () {
                    return {
                        data: function () {
                            return {
                                selected: undefined
                            }
                        },
                        template: `<div>${this.firstCategory}</div>`,
                        methods: {
                            getCategory: function (num) {
                                this.selected = num
                                third.thirdCategory = ""

                                axios.get("http://192.168.0.15:8000/getSecondCategory?firstCategoryId=" + firstCategoryArray[num].id)
                                    .then(resData => {
                                        secondCategoryArray = resData.data
                                        second.secondCategory = ""


                                        for (let i = 0; i < secondCategoryArray.length; i++) {
                                            second.secondCategory += `<li class="nav-item">
                                                                        <a class="nav-link" v-on:click="getCategory(` + i + `)" v-bind:class="{ active: selected == ` + i + `}" href="#">` + secondCategoryArray[i].name + `</a>
                                                                    </li>`
                                        }

                                    }).catch(error => {
                                        console.log(error)
                                    })

                                axios.get("http://192.168.0.15:8000/getRecipeByfirst?firstCategoryId=" + firstCategoryArray[num].id)
                                    .then(resData => {

                                        let length =  Number.isInteger(resData.data.length / 2) == true ? parseInt(resData.data.length / 2) : parseInt(resData.data.length / 2) + 1
                                        content.recipes = []

                                        for (let i = 0; i < length - 1; i++) {
                                            content.recipes.push([])
                                            content.recipes[i].push(resData.data[i * 2])
                                            content.recipes[i].push(resData.data[i * 2 + 1])
                                        }

                                        content.recipes.push([])
                                        if (resData.data.length % 2 == 0) {
                                            content.recipes[length - 1].push(resData.data[(length - 1) * 2])
                                            content.recipes[length - 1].push(resData.data[(length - 1) * 2 + 1])
                                        } else {
                                            content.recipes[length - 1].push(resData.data[(length - 1) * 2])
                                        }

                                    }).catch(error => {
                                        console.log(error)
                                    })
                            }
                        }
                    }
                }
            }
        })

        let second = new Vue({
            el: "#second",
            data: {
                secondCategory: ""
            },
            computed: {
                dynamicComponent: function () {
                    return {
                        data: function () {
                            return {
                                selected: undefined
                            }
                        },
                        template: `<div>${this.secondCategory}</div>`,
                        methods: {
                            getCategory: function (num) {
                                this.selected = num

                                axios.get("http://192.168.0.15:8000/getThirdCategory?secondCategoryId=" + secondCategoryArray[num].id)
                                    .then(resData => {
                                        thirdCategoryArray = resData.data
                                        third.thirdCategory = ""


                                        for (let i = 0; i < thirdCategoryArray.length; i++) {
                                            third.thirdCategory += `<li class="nav-item">
                                                                        <a class="nav-link" v-on:click="getCategory(` + i + `)" v-bind:class="{ active: selected == ` + i + `}" href="#">` + thirdCategoryArray[i].name + `</a>
                                                                    </li>`
                                        }

                                        let length =  Number.isInteger(thirdCategoryArray.length / 2) == true ? parseInt(thirdCategoryArray.length / 2) : parseInt(thirdCategoryArray.length / 2) + 1
                                        console.log(length)
                                        content.recipes = []

                                        for (let i = 0; i < length - 1; i++) {
                                            content.recipes.push([])
                                            content.recipes[i].push(thirdCategoryArray[i * 2])
                                            content.recipes[i].push(thirdCategoryArray[i * 2 + 1])
                                        }

                                        content.recipes.push([])
                                        if (thirdCategoryArray.length % 2 == 0) {
                                            content.recipes[length - 1].push(thirdCategoryArray[(length - 1) * 2])
                                            content.recipes[length - 1].push(thirdCategoryArray[(length - 1) * 2 + 1])
                                        } else {
                                            content.recipes[length - 1].push(thirdCategoryArray[(length - 1) * 2])
                                        }

                                    }).catch(error => {
                                        console.log(error)
                                    })

                            }
                        }
                    }
                }
            }
        })

        let third = new Vue({
            el: "#third",
            data: {
                thirdCategory: ""
            },
            computed: {
                dynamicComponent: function () {
                    return {
                        data: function () {
                            return {
                                selected: undefined
                            }
                        },
                        template: `<div>${this.thirdCategory}</div>`,
                        methods: {
                            getCategory: function (num) {
                                this.selected = num
                                axios.get("http://192.168.0.15:8000/getThirdCategoryRecipe?thirdCategoryId=" + thirdCategoryArray[num].id)
                                    .then(resData => {
                                        content.recipes = []

                                        content.recipes.push([])
                                        content.recipes[0].push(resData.data)
                                        

                                    }).catch(error => {
                                        console.log(error)
                                    })


                            }
                        }
                    }
                }
            }
        })

        let content = new Vue({
            el: "#content",
            data: {
                recipes: []
            }
        })


        axios.get("http://192.168.0.15:8000/getFirstCategory")
            .then(resData => {
                firstCategoryArray = resData.data

                for (let i = 0; i < firstCategoryArray.length; i++) {
                    first.firstCategory += `<li class="nav-item">
                                                <a class="nav-link" v-on:click="getCategory(` + i + `)" v-bind:class="{ active: selected == ` + i + `}" href="#">` + firstCategoryArray[i].name + `</a>
                                            </li>`
                }

            }).catch(error => {
                console.log(error)
            })

    </script>
</body>

</html>